/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @font-face {
    font-family: 'Cambria';
    src: url('Cambria-Bold.eot');
    src: local('Cambria Bold'), local('Cambria-Bold'),
        url('Cambria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cambria-Bold.woff2') format('woff2'),
        url('Cambria-Bold.woff') format('woff'),
        url('Cambria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Italic.eot');
    src: local('Cambria Italic'), local('Cambria-Italic'),
        url('Cambria-Italic.eot?#iefix') format('embedded-opentype'),
        url('Cambria-Italic.woff2') format('woff2'),
        url('Cambria-Italic.woff') format('woff'),
        url('Cambria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria.eot');
    src: local('Cambria'),
        url('Cambria.eot?#iefix') format('embedded-opentype'),
        url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff'),
        url('Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('Cambria-BoldItalic.eot');
    src: local('Cambria Bold Italic'), local('Cambria-BoldItalic'),
        url('Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Cambria-BoldItalic.woff2') format('woff2'),
        url('Cambria-BoldItalic.woff') format('woff'),
        url('Cambria-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



html {
  /*color: #fcdda3;*/
  color: rgb(241, 228, 191);
  font-size: 1em;
  line-height: 1.4;
  background: #600019;
  font-family: "Cambria", Sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #873b2f;
  text-shadow: none;
}

::selection {
  background: #873b2f;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*NN*/


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(241, 228, 191);
  outline: 1px solid slategrey;
}

.main-logo{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.main-logo img{
  max-width: 650px;
}
.content{
  text-align: center;
  margin-top:5%;
}

.content-mob{
  text-align: center;
  padding-left:20px;
  padding-right: 20px;
  display: none;
}

.code-input input{
  background: #600019;
  border: 1px solid rgb(241, 228, 191);
  padding: 20px auto;
  font-size:20px;
  width: 300px;
  height:50px;
  color:rgb(247, 245, 245);
  text-align: center;
}

input[type=text] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(241, 228, 191);
  text-transform: uppercase;
}
 
input[type=text]:focus {
  box-shadow: 0 0 5px rgb(241, 228, 191);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(241, 228, 191);
  text-transform: uppercase;
  background: rgb(241, 228, 191);
  color: #600019;
}

/*input[type=text]:focus {
  border: 1px solid #600019;
  background: #fcdda3;
  color: #600019;
  text-transform: uppercase;
  border-radius: 0;
}*/



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(214, 210, 210);
  opacity: 1; /* Firefox */
  
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(214, 210, 210);
  
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(214, 210, 210);
  
}

.subinfo{
  color:rgb(199, 198, 195);
  margin: 40px auto;
}

.simple-relative{
  position: relative;
}
.registered{
  font-size: 20px;
  position:absolute;
  top:0;
}

.vidiaks{
  margin: 5% 5%;
}

.button {
  background-color: rgb(241, 228, 191); /* Green */
  border: 1px solid rgb(241, 228, 191);
  color: #600019;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.button:hover{
  color:rgb(241, 228, 191);
  background-color: #600019;
  border: 1px solid rgb(241, 228, 191);
  cursor: pointer;
}

.content-mob{
  display:none;
}

.code-input{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main-logo{
    margin-left:20px;
    margin-right: 20px;
  }
  .main-logo img{
    max-width: 100%;
  }
  .content-mob{
    display:block;
    margin-top:20%;
  }
  .content{
    display:none;
  }
  h1{
    font-size: 1.5em;
  }
  .registered{
    font-size:0.7em;
  }
  .vidiaks{
    margin: 10% 2%;
  }

}

.footer{
	position:relative;
	width: 100%;
	height: 50px;
	border-top: 1px solid rgba(241, 228, 191, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

#gallery{
	align-items:center;
	justify-content:center;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
  max-width:1360px;
}

/* ==========================================================================
   Galerija : 
   ========================================================================== */
   
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label[for] { cursor: pointer; }

input[type="checkbox"] { display: none; }


.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .75s ease-out;
  transition: transform .75s ease-out;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid { opacity: .125; }

.grid {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #600019;
  z-index: 0;
  /*display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;*/
  /*padding: 16px;*/
  overflow: auto;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
  display:inline;
}
.grid2 {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background-color: #600019;
  z-index: 0;
  /*display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;*/
  /*padding: 16px;*/
  overflow: auto;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.grid .grid-item1l{
  width: 50%;
  display: inline-block;
  padding: 5px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  float:left;
  text-align: right;
}
.grid .grid-item1r{
  width: 50%;
  display: inline-block;
  padding: 5px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  float:right;
  text-align: left;
}

.grid2 .grid-item2l{
  width: 25%;
  display: inline-block;
  padding: 5px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  float:left;
  text-align: right;
}

.grid2 .grid-item3{
  width: 50%;		
  display: inline-block;
  padding: 5px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  text-align: center;
  margin-left:0;
  margin-right: 0;
}

.grid2 .grid-item2r{
  width: 25%;
  display: inline-block;
  padding: 5px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  float:right;
  text-align: left;
}


.grid .grid-item1l:hover { opacity: 1; }
.grid2 .grid-item2l:hover { opacity: 1; }
.grid .grid-item1r:hover { opacity: 1; }
.grid2 .grid-item2r:hover { opacity: 1; }
.grid2 .grid-item3:hover { opacity: 1; }

@media screen and (max-width: 480px) {

.grid .grid-item1l { width: 100%; text-align: center;}
.grid .grid-item1r { width: 100%; text-align: center;}
.grid2 .grid-item2l { width: 100%; text-align: center;}
.grid2 .grid-item2r { width: 100%; text-align: center;}
.grid2 .grid-item3 { width: 100%; text-align: center;}
}

.grid img {
  max-width: 100%;
  max-height: 428px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
.grid2 img {
  max-width: 100%;
  max-height: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
/* ==========================================================================
   END Galerija : 
   ========================================================================== */